#main-header {
  display: flex;
  align-items: center;
  padding: 15px;
  height: 160px;
  justify-content: space-around;
  flex-wrap: wrap;
    background-color: #7c1717;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.logo-container img {
  height: 150px;
}

.header-text {
  text-align: right;
}
.header-text h2 {
  font-size: 1.5rem;
  color: #f8d01c;
  margin-bottom: -20px;
}
.header-text h1 {
  font-size: 3rem;
  color: #f8d01c;
  margin-top: -10px;
}

@media (max-width: 700px) {
  #main-header {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 10px;
  }

  .logo-container img {
    height: 80px;
    margin-bottom: 10px;
  }

  .header-text {
    text-align: center;
    margin-top: 0;
  }

  .header-text h1 {
    font-size: 1.5rem;
    margin-top: 0;
  }

  .header-text h2 {
    font-size: 1rem;
    margin-bottom: 0;
  }
}
